* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

:root {
    --cta-color: #1f70cd;
    --cta-hover-color: #1f69bd;
    --border-color: #bbb;
    --background-color: #f5f5f5;
    --box-background: #fff;
    --error-color: red;
    --text-color: #000000;
    --text-hover-color: #262b30;
    --p-color: #666;
}

body {
    background-color: var(--background-color);
    padding-bottom: 50px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    transform: translateX(7px);
}

h4 {
    font-size: 1rem;
    font-weight: normal;
}

h5 {
    font-size: 0.75rem;
}

p {
    font-size: 0.75rem;
    color: var(--p-color);
}

main {
    /* padding: 0 15rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6.25rem;
    background-color: var(--box-background);
    border-bottom: 1px solid var(--border-color);
    cursor: default;
    position: sticky;
    top: 0;
    z-index: 2;
}

#header-wrapper {
    width: 824px;
    /* padding: 0 15rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

header ul li button {
    background: none;
    border: none;
    transition: 0.2s;
}

header ul li button:hover {
    transform: translateY(-1px);
    cursor: pointer;
    color: var(--text-hover-color);
    text-decoration: underline;
}

#login-cta, #create-event-cta {
    background-color: var(--cta-color);
    border: none;
    color: var(--box-background);
    padding: 1rem 2rem;
    border-radius: 100px;
    font-size: .75rem;
    text-decoration: none;
}

#login-cta:hover, #create-event-cta:hover {
    background-color: var(--cta-hover-color);
}

#event-list {
    display: flex;
    margin-top: 8px;
    gap: 1rem;
    flex-wrap: wrap;
    /* width is 200px * box amount + 8px * box amount-1 */
}

.event-box {
    width: 12rem;
    background-color: var(--box-background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1.25rem;
    /* font-size: 0.75rem; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: 0.2s;
}

.event-box:hover {
    background-color: #fcfcfc;
    cursor: pointer;
    transform: translateY(-1px);
}

.detitle {
    font-weight: normal;
    color: var(--p-color);
}

.event-box img {
    width: 1.25rem;
}

.event-stars {
    display: flex;
    align-items: center;
    gap: 2px;
}

.event-stars p {
    transform: translate(1px, 1px);
}

#key-insights {
    width: 824px;
}

#insights-box {
    margin-top: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--box-background);
    padding: 2.5rem;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    justify-items: center;
    cursor: default;
}

#insights-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#insights-box div h2 {
    padding: 2rem 0;
    transition: 0.2s ease-out;
}

#insights-box div h2:hover {
    transform: scale(1.1) translateY(-2px);
}

.separator {
    background-color: #d9d9d9;
    width: 2px;
}

.hidden {
    display: none;
    visibility: collapse;
}

.hidden-warning {
    visibility: hidden;
}

dialog {
    display: hidden;
    background-color: #0005;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 5;
    /* flex-direction: ; */
    justify-content: center;
    align-items: center;
    border: none;
}

#login-dialog, #create-event-dialog {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    /* border: 1px solid var(--border-color); */
    border-radius: 10px;
    z-index: 5;
    /* gap: 1rem; */
    position: absolute;
    /* margin-top: 2rem; */
    cursor: default;
}

#login-dialog > *, #create-event-dialog > *, #create-event-dialog form > * { 
    margin-bottom: 0.5rem;
}

#login-dialog h3, #create-event-dialog h3 {
    transform: none;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    text-align: center;
}

#login-dialog input, #login-dialog input:hover,
#create-event-dialog input, #create-event-dialog input:hover,
#create-event-dialog textarea, #create-event-dialog textarea:hover {
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 2px;
    resize: none;
}

#login-button {
    color: var(--box-background);
    background-color: var(--cta-color);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: .5rem;
    transition: 0.2s;
    width: 100%;
}

#login-button:hover {
    transform: translateY(-1px);
    background-color: var(--cta-hover-color);
    cursor: pointer;
}

dialog label {
    font-size: 0.75rem;
    margin: 0;
    font-weight: bold;
    width: 100%;
}

#login-dialog p {
    color: var(--error-color);
    text-align: center;
}

#login-close {
    background: none;
    border: none;
    transform: translateY(10px);
    width: min-content;
    justify-self: center;
}

#login-close:hover {
    cursor: pointer;
    color: var(--text-hover-color);
    text-decoration: underline;
}

#create-event-dialog form {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    margin: 0;
}

#required-label {
    font-weight: normal;
    color: var(--p-color)
}

@media screen and (max-width: 800px) {
    header {
        height: 4.5rem;
        padding: 0 2rem;
    }

    #info-wrapper {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 2rem;
    }

    #key-insights {
        width: 100%;
    }

    #insights-box {
        grid-template-columns: auto;
        padding-bottom: 0.5rem; 
        /* this makes the effective padding 40px for everything */
    }

    #insights-box h4 {
        font-size: 1.25rem;
    }

    .event-box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .event-box h5 {
        grid-column: span 2;
    }

    .event-stars {
        justify-self: right;
    }
}