* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    transform: translateX(7px);
}

h4 {
    font-size: 1rem;
    font-weight: normal;
}

h5 {
    font-size: 0.75rem;
}

p {
    font-size: 0.75rem;
    color: #666;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #bbb;
    cursor: default;
}

#header-wrapper {
    width: 824px;
    height: 6.25rem;
    /* padding: 0 15rem; */
    width: 824px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header button {
    background-color: #1f70cd;
    border: none;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 100px;
    font-size: .75rem;
    transition: 0.2s;
}

header button:hover {
    transform: translateY(-1px);
    cursor: pointer;
    background-color: #1f69bd;
}

main {
    /* padding: 0 15rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#event-list {
    display: flex;
    margin-top: 8px;
    gap: 1rem;
    flex-wrap: wrap;
    /* width is 200px * box amount + 8px * box amount-1 */
}

.event-box {
    width: 12rem;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 1.25rem;
    /* font-size: 0.75rem; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: 0.2s;
}

.event-box:hover {
    background-color: #fcfcfc;
    cursor: pointer;
    transform: translateY(-1px);
}

.event-box img {
    width: 1.25rem;
}

.event-stars {
    display: flex;
    align-items: center;
    gap: 2px;
}

.event-stars p {
    transform: translate(1px, 1px);
}

#key-insights {
    width: 824px;
}

#insights-box {
    margin-top: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 10px;
    border: 1px solid #bbb;
    justify-items: center;
    cursor: default;
}

#insights-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#insights-box div h2 {
    padding: 2rem 0;
    transition: 0.2s ease-out;
}

#insights-box div h2:hover {
    transform: scale(1.1) translateY(-2px);
}

.separator {
    background-color: #d9d9d9;
    width: 2px;
}

/* #total-count h2 {
    font-size: 4rem;
} */